name: Program Code Convention
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  CheckPythonCodeStyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install pylint
        run: pip install pylint

      - name: Run pylint on ProgramCode.py
        run: pylint ProgramCode.py
